/*
adapted from https://medium.com/allenhwkim/mobile-friendly-table-b0cb066dbc0e
https://css-tricks.com/responsive-data-tables/#comment-91835
                     */


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media screen and (max-width: 2800px) {
    table thead {
        display: none;
    }

    table td {
        display: flex;

    }
    table td:before {
        /* Now like a table header */

        /* Top/left values mimic padding */
        font-weight: bold;
        width: 50%;
        min-width: 50%;


    }
    /*
    Label the data
    */
    td:nth-of-type(1):before { content:"Variation Number"; }
    td:nth-of-type(2):before { content:"TCGA_cancer_type"; }
    td:nth-of-type(3):before { content: "aneuploidy_metric"; }
    td:nth-of-type(4):before { content: "Pearson_correlation"; }
    td:nth-of-type(5):before { content: "odds_ratio"; }
    td:nth-of-type(6):before { content: "p"; }
    td:nth-of-type(7):before { content: "method"; }
    td:nth-of-type(8):before { content: "histone_family"; }
    td:nth-of-type(9):before { content: "histone_type"; }
    td:nth-of-type(10):before { content: "histone_alteration"; }
    td:nth-of-type(11):before { content: "histone_alteration_detailed"; }

}
/*logo{
     width:100px;
    height:100px;
     width: min(50vw, 100px);
     position: absolute;
     float:left;
    top: 12pt;
  background-image:url(images/lab_logo.tif);
 }*/
 div.search {
    position: relative;
    left: 30px;
    right: 30px;
  }
 img { 
    height:auto;
    /*max-height:100%;*/
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border:0;
    outline: 0;
    box-shadow: none;
     margin: auto;

}
table {
    width:100%;
}

@media only screen and (max-width: 480px){

}
#project_tagline{
    left: 10px;
    right: 10px;
}

h3,h5 {
    text-align: center;
}
a{
    transition: none; /* stops disappearing footer  */
}







